<aside class="right-sidebar">
    <nav class="toc">
        <h3>CONTENTS</h3>
        <ul>
            <li><a href="#">Top</a></li>
            {{ .SidebarLinks }}
        </ul>
    <br />
    <h3>SOCIALS:</h3>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/patrick-earl/">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/pat-earl">GitHub</a>
            </li>
            <li>
                <a href="https://github.com/sei-pearl">GitHub (Work)</a>
            </li>
            <li>
                <a href="https://www.sei.cmu.edu/authors/patrick-earl/">SEI Author Profile</a>
            </li>
        </ul>
    </nav>
</aside>